/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(223, 25, 25);
    background-color: #fdfdfd;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    font-size: 15px;
    background-color: #e5e7eb;
    float: inline-end;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 18px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #e68a00;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(204, 204, 204);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
}

.bgimg
{
	background-image: url(hondaa.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: space;
    background-blend-mode: screen;
    background-color: #e1e8ec;
}

header
{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px;
}
body h1:nth-child(1)
{
	color:  white;
	margin: 0px;
	padding: 18px;
	background :  #e68a00; 
    font-size: 24px;
	text-align: center;
}
main
{
	padding: 0 8px;
}
